---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    <p class="meta">
📅      {{ page.date | date: "%-d.%-m.%Y" }}
      {% if page.author %} / 👤 {{ page.author }}{% endif %}
    </p>
  </header>
<main>  <section class="post-content">
<p><b>    {% if page.subtitle %} {{ page.subtitle }}{% endif %}</b></p>{{ content }}</section>
</main>
<p>📁   {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
